<a href="https://colab.research.google.com/github/jiyounglee523/projectmanager/blob/main/3_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%AA%A8%EB%8D%B8%EB%A7%81_01_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%90%EC%84%9CMySQL%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 모델링

## 1. 파이썬에서 MYSQL 사용하기

### 라이브러리 설치하기

In [ ]:
!pip install pymysql

WARNING: Ignoring invalid distribution -pype1 (c:\python\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -pype1 (c:\python\python310\lib\site-packages)

Requirement already satisfied: pymysql in c:\python\python310\lib\site-packages (1.0.3)

---------------

### MYSQL DB 생성하기
#### # mysql 워크벤치에서 sql문장 실행하기

DROP DATABASE IF EXISTS soloDB; <br>
CREATE DATABASE soloDB;

#### # 윈도우 cmd(명령 프롬프트) 창에서 실행시키기
- 윈도우 환경변수에 mysql설치위치 bin path 추가하기 <br>
C:\Program Files\MySQL\MySQL Server 8.0\bin <br>

- cmd 실행시키기
- mysql 연결하기 : mysql -u 유저네임 -p 패스워드
- 위 sql문장 실행하기

--------------

### MYSQL DB 테이블에 데이터 생성하는 파이썬 코딩 순서

#### #파이썬에서 코딩 순서

 1. Mysql  연결하기 : 연결자 = pymysql.connect(연결 옵션)
 2. 커서 생성하기 : 커서이름 = 연결자.cursor()
 3. 테이블 만들기 : 커서이름.execute("CREATE TABLE 문장")
 4. 데이터 입력하기 : 커서이름.execute("INSERT 문장")
 5. 입력한 데이터 저장하기 : 연결자.commit()
 6. Mysql 연결 종료하기 : 연결자.close()

In [ ]:
user='root'; password='mysql'; db='mydb'

#### #1. Mysql  연결하기 : 연결자 = pymysql.connect(연결 옵션)

In [ ]:
import pymysql

conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
conn = pymysql.connect(host='localhost', user=user, password=password, db=db, charset='utf8')

#### #2. 커서 생성하기 : 커서이름 = 연결자.cursor()

In [ ]:
cur = conn.cursor()

#### #3. 테이블 만들기 : 커서이름.execute("CREATE TABLE 문장")

In [ ]:
cur.execute("CREATE TABLE userTable (id char(4), userName char(15), email char(20), birthYear int)")

0

#### #4. 데이터 입력하기 : 커서이름.execute("INSERT 문장")

In [ ]:
cur.execute("INSERT INTO userTable VALUES ('hong', '홍지윤', 'hong@naver.com', 1966)")
cur.execute("INSERT INTO userTable VALUES ('kim', '김태연', 'kim@daum.net', 2011)")
cur.execute("INSERT INTO userTable VALUES ('star', '별사랑', 'star@paran.com', 1990)")
cur.execute("INSERT INTO userTable VALUES ('yang', '양지은', 'yang@gmail.com', 1993)")

1

#### #5. 입력한 데이터 저장하기 : 연결자.commit()

In [ ]:
conn.commit()

#### #6. Mysql 연결 종료하기 : 연결자.close()

In [ ]:
conn.close()

---------------------

### [예제] 사용자로부터 데이터 입력 프로그램

In [ ]:
import pymysql

# 전역변수 선언
conn, cur = None, None
dat1, data2, data3, data4 = '','','',''
sql = ''

# 메인 코드
conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
cur = conn.cursor()

while True:
    data1 = input("사용자 ID ==> ")         # 4자리
    if data1 == '': break
    data2 = input("사용자 이름 ==> ")       # 15자리
    data3 = input("사용자 이메일 ==> ")     # 20자리
    data4 = input("사용자 출생연도 ==> ")   # 4자리
#     sql = "INSERT INTO userTable VALUES('"+data1+"','"+data2+"','"+data3+"',"+data4+")"
    sql = f"INSERT INTO userTable VALUES('{data1}','{data2}','{data3}',{int(data4)})"
    print(sql)
    cur.execute(sql)

conn.commit()
conn.close()

INSERT INTO userTable VALUES('jane','고제인','jane@gmail.com',2009)

-------------------

### MYSQL의 데이터 조회를 위한 파이썬 코딩 순서

#### #파이썬에서 코딩 순서

 1. Mysql 연결하기 : 연결자 = pymysql.connect(연결 옵션)
 2. 커서 생성하기 : 커서이름 = 연결자.cursor()
 4. 데이터 조회하기 : 커서이름.execute("SELECT 문장")
 5. 조회한 데이터 출력하기 : 커서이름.fetchone()   #fetchone(): 한 행씩 접근, fetchall(): 모든 행 접근
 6. Mysql 연결 종료하기 : 연결자.close()

### [예제] 데이터 조회 프로그램
- **cur.fetchone()**

In [ ]:
import pymysql

# 전역변수 선언
conn, cur = None, None
dat1, data2, data3, data4 = '','','',''
sql = ''
row = None

# 메인 코드
conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
cur = conn.cursor()

sql = "SELECT * FROM userTable"
cur.execute(sql)

print("사용자ID\t사용자이름\t이메일\t\t출생연도")
print("-"*80)

while True:
    row = cur.fetchone()
    if row == None: break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1}\t\t{data2}\t\t{data3}\t\t{data4}")

conn.close()

사용자ID	사용자이름	이메일		출생연도
--------------------------------------------------------------------------------
hong		홍지윤		hong@naver.com		1966
kim		김태연		kim@daum.net		2011
star		별사랑		star@paran.com		1990
yang		양지은		yang@gmail.com		1993
jane		고제인		jane@gmail.com		2009

- **cur.fetchall()**

In [ ]:
import pymysql

# 전역변수 선언
conn, cur = None, None
dat1, data2, data3, data4 = '','','',''
sql = ''
row = None

# 메인 코드
conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
cur = conn.cursor()

sql = "SELECT * FROM userTable"
cur.execute(sql)

print("사용자ID\t사용자이름\t이메일\t\t출생연도")
print("-"*80)

rows = cur.fetchall()
for row in rows:
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print(f"{data1}\t\t{data2}\t\t{data3}\t\t{data4}")

conn.close()

사용자ID	사용자이름	이메일		출생연도
--------------------------------------------------------------------------------
hong		홍지윤		hong@naver.com		1966
kim		김태연		kim@daum.net		2011
star		별사랑		star@paran.com		1990
yang		양지은		yang@gmail.com		1993
jane		고제인		jane@gmail.com		2009

-------------------------

### [예제] 데이터 입력&조회 GUI 프로그램

In [ ]:
import pymysql
from tkinter import *
from tkinter import messagebox

# 입력 데이터 체크
def checkInsertData():

    if edt1.get() == '':
        messagebox.showinfo('성공', '사용자ID를 입력하세요.')
        return False
    if edt2.get() == '':
        messagebox.showinfo('성공', '사용자이름를 입력하세요.')
        return False
    if edt3.get() == '':
        messagebox.showinfo('성공', '사용자이메일를 입력하세요.')
        return False
    if edt4.get() == '':
        messagebox.showinfo('성공', '출생년도를 입력하세요.')
        return False

    return True


# 데이터 추가
def insertData():
    conn, cur = None, None
    data1, data2, data3, data4 = '','','',''
    sql = ''

    conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
    cur = conn.cursor()

    if checkInsertData():
        data1 = edt1.get()
        data2 = edt2.get()
        data3 = edt3.get();
        data4 = edt4.get()
        sql = f"INSERT INTO userTable VALUES ('{data1}','{data2}','{data3}','{data4}')"
        cur.execute(sql)

        conn.commit()

        messagebox.showinfo('성공', '데이터 입력 성공')


    conn.close()


# 데이터 조회
def selectData():
    strData1, strData2, strData3, strData4 = [], [], [], []

    conn = pymysql.connect(host='127.0.0.1', user=user, password=password, db=db, charset='utf8')
    cur = conn.cursor()
    cur.execute("SELECT * FROM userTable")

    strData1.append("사용자ID");      strData2.append("사용자이름")
    strData3.append("사용자이메일");  strData4.append("출생년도")
    strData1.append("------------");  strData2.append("------------")
    strData3.append("------------");  strData4.append("------------")

    while True:
        row = cur.fetchone()
        if row == None: break
        strData1.append(row[0]);  strData2.append(row[1])
        strData3.append(row[2]);  strData4.append(row[3])

    listData1.delete(0, listData1.size() -1)
    listData2.delete(0, listData2.size() -1)
    listData3.delete(0, listData3.size() -1)
    listData4.delete(0, listData4.size() -1)

    for item1, item2, item3, item4 in zip(strData1, strData2, strData3, strData4):
        listData1.insert(END, item1)
        listData2.insert(END, item2)
        listData3.insert(END, item3)
        listData4.insert(END, item4)

    conn.close()

In [ ]:
## 메인 ##
root = Tk()
root.geometry("600x300")
root.title("데이터 입력&조회 GUI 프로그램")

edtFrame = Frame(root)
edtFrame.pack()
listFrame = Frame(root)
listFrame.pack(side=BOTTOM, fill=BOTH, expand=1)

edt1 = Entry(edtFrame, width=10);  edt1.pack(side=LEFT, padx=10, pady=10)
edt2 = Entry(edtFrame, width=10);  edt2.pack(side=LEFT, padx=10, pady=10)
edt3 = Entry(edtFrame, width=10);  edt3.pack(side=LEFT, padx=10, pady=10)
edt4 = Entry(edtFrame, width=10);  edt4.pack(side=LEFT, padx=10, pady=10)

btnInsert = Button(edtFrame, text="입력", command=insertData)
btnInsert.pack(side=LEFT, padx=10, pady=10)
btnInsert = Button(edtFrame, text="조회", command=selectData)
btnInsert.pack(side=LEFT, padx=10, pady=10)

listData1 = Listbox(listFrame, bg='yellow');
listData1.pack(side=LEFT, fill=BOTH, expand=1)
listData2 = Listbox(listFrame, bg='yellow');
listData2.pack(side=LEFT, fill=BOTH, expand=1)
listData3 = Listbox(listFrame, bg='yellow');
listData3.pack(side=LEFT, fill=BOTH, expand=1)
listData4 = Listbox(listFrame, bg='yellow');
listData4.pack(side=LEFT, fill=BOTH, expand=1)

root.mainloop()